{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

{% if title %}
    <title>Portfolio - {{title}}</title>
{% else %}
    <title>Portfolio</title>
{% endif %}

  

  


  
  <!-- BASE CSS STUFF -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  
  <!-- REFACTOR FONT AWESOME -->
  <!-- Custom fonts for this template-->
  <link href="{% static 'portfolio/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  
  <!-- Font Awesome CDN for footer -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  
  <!-- Page level plugin CSS-->
  <link href="{% static 'portfolio/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  
  <!-- styles for template-->
  <link href="{% static 'portfolio/css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/css/footer.css' %}" rel="stylesheet">

</head>









<body id="page-top">
  <!-- Navbar ----------------------------------------------------->
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <!-- Search FORM --------------------------------------------->
    <form method="GET" action="{%url 'research_home' %}">
      <div class="input-group">

          <!-- RADIO BUTTON US
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
            <label class="form-check-label" for="materialInline1"><img class="img-circle" alt="us_flag" width="45" height="35" src="/media/us.jpg"></label>
          </div>
          
           RADIO BUTTON CAN 
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
            <label class="form-check-label" for="materialInline2"><img class="img-circle" alt="us_flag" width="45" height="35" src="/media/cad.png"></label>
          </div> -->

        {{ symbol_form }}
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <a class="navbar-brand d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
      href="{%url 'portfolio-home' %}">INVESTOR ANALYTICS</a>
      
      <button class="btn btn-link btn-sm text-white order-1 order-sm-0 ml-auto" data-toggle="modal" data-target="#menuModal" href="">
        <i class="fas fa-bars"></i>
      </button>
     
    
    <ul class="navbar-nav ml-auto ml-md-0">
      {% if user.is_authenticated %}
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            
            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
      {% endif %}
    </ul>
  </nav>

  <!-- WRAPPER  --------------------------------------------->
  <div id="wrapper">
    <div id="content-wrapper">

      <div class="container-fluid">
        <!-- CONTENT HERE-->

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              {{ message|safe }}
            </div>
          {% endfor %}
        {% endif %}    
        {% block content %}
        {% endblock %}

      </div>
      <!-- /.container-fluid CONTENT ENDS-->

      

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 myCols">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="social-networks">
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Folio-Viz© 2019</p>
  </div>
</footer>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Menu Modal-->
  <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Menu</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <div class="modal-body">
          <ul>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'research_home' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Research</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-fw fa-folder"></i>
                  <span>Portfolios</span>
                </a>
              {% endif %}
              <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <h6 class="dropdown-header">Portfolio Screens:</h6>
                <a class="dropdown-item" href="{%url 'user-portfolios' user %}">View Portfolios</a>
                <!-- <a class="dropdown-item" href="{%url 'portfolio-create' %}">Create Portfolio</a> -->
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#createPortfolioModal">Create Portfolio</a>
                <!-- <a class="dropdown-item" href="#">Register</a>
                <a class="dropdown-item" href="#">Forgot Password</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Other Pages:</h6>
                <a class="dropdown-item" href="#">404 Page</a>
                <a class="dropdown-item" href="#">Blank Page</a> -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'charts' %}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fas fa-fw fa-table"></i>
                <span>Analytics</span></a>
            </li>
          </ul>
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Create Portfolio Modal-->
  <div class="modal fade" id="createPortfolioModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Portfolio</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" data-url="{% url 'portfolio-create' %}" id="portfolioForm">
            {% csrf_token %}
            <div class="row pb-2">
              <div class="col-4 text-right pr-5 posFormFields">Date:</div>
              <div class="col-4 pl-0">{{ createPortfolioForm.date_added }}</div>
            </div>
            <div class="row pb-2">
              <div class="col-4 text-right pr-5 posFormFields">Name:</div>
              <div class="col-4 pl-0">{{ createPortfolioForm.portfolio_name }}</div>
            </div>
            <div class="row pb-2">
              <div class="col-4 text-right pr-5 posFormFields">Labels:</div>
              <div class="col-4 pl-0">{{ createPortfolioForm.portfolio_label }}</div>
            </div>
            <div class="row pb-2">
              <div class="col-4 text-right pr-5 posFormFields">Description:</div>
              <div class="col-4 pl-0">{{ createPortfolioForm.description}}</div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-outline-info" type="submit">Create Portfolio</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- CORE SCRIPTS --------------------------------------------------------->
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'portfolio/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  
  <!-- Core plugin JavaScript-->
  <script src="{% static 'portfolio/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  
  <!-- Page level plugin JavaScript-->
  <script src="{% static 'portfolio/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'portfolio/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  
  <!-- Template scripts for all pages-->
  <script src="{% static 'portfolio/js/sb-admin.min.js' %}"></script>
  
  <!-- Custom scripts -->
  <script src="{% static 'portfolio/js/custom.js' %}"></script>
  <script src="{% static 'portfolio/js/canvasjs.min.js' %}"></script>
  <script src="{% static 'portfolio/js/charts.js' %}"></script>
  <script src="{% static 'portfolio/js/ajax.js' %}"></script>

  <!--  sweet alert -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>



  {% block javascript %}{% endblock %}
  
</body>

</html>
