{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" class="my-ajax-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Portfolio</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create Portfolio</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
<script>
    // $(document).ready(function () {
    //     var $myForm = $('.my-ajax-form')
    //     $myForm.submit(function (event) {
    //         event.preventDefault()
    //         var $formData = $(this).serialize()
    //         var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
    //         $.ajax({
    //             method: "POST",
    //             url: $thisURL,
    //             data: $formData,
    //             success: handleFormSuccess,
    //             error: handleFormError,
    //         })
    //     })

    //     function handleFormSuccess(data, textStatus, jqXHR) {
    //         console.log(data)
    //         console.log(textStatus)
    //         console.log(jqXHR)
    //         $myForm[0].reset(); // reset form data
    //     }

    //     function handleFormError(jqXHR, textStatus, errorThrown) {
    //         console.log(jqXHR)
    //         console.log(textStatus)
    //         console.log(errorThrown)
    //     }
    // })
</script>


{% endblock %}