{% extends "portfolio/base.html" %}
{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1 class="display-4 fontTitle">{{ object.portfolio_name }}</h1>
        </div>
        {% if object.user == user %}
        <div class="col-2">
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'portfolio-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'portfolio-delete' object.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-12">
          <p class="lead">{{object.description}}</p>  
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4 priceSummaryInfo">
          <table class="table table-sm tableDesignHero">
            <tbody>
              <tr>
                <td>TOTAL BOOK VALUE</td>
                <th>XX</th>
              </tr>
              <tr>
                <td>TOTAL MARKET VALUE</td>
                <th>XX</th>
              </tr>
              <tr>
                <td>TOTAL CHANGE</td>
                <th>XX</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
            <small class="text-muted">Created: {{ object.date_added|date:"F d, Y" }}</small>
        </div>
      </div>
    </div>
  </div>

  <!-- CARDS ---------------------------------------------------------------------------------->
<div class="card text-center">
  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
          <a class="nav-link" href="#overview" id="navOverviewCard">Overview</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="#positions" id="navPositionssCard">View Positions</a>
      </li>
      </ul>
  </div>

  <!-- CARD BODY ---------------------------------------------------------------------------------->
  <div class="card-body">
    <!-- OVERVIEW CARD ---------------------------------------------------------------------------------->
    <div id="OverviewCard" style="display: none;">
        
        <p style="text-align: left;"> OVERVIEW</p>    
    </div>  
    
    <!-- POSITIONS CARD ---------------------------------------------------------------------------------->
      <div id="positionsCard">
        <!-- USD POSITIONS ------------------------------------------------------>
        <div id="usdPositionsWrapper">
          <div class="row">
            <div class="col-12">
              <h6 style="text-align:left;">USD SECURITIES</h6>
              <table class="table table-hover table-striped table-sm tableDesign table-bordered" width="100%"
                id="usdPositionsTable">
                <thead>
                  <tr class="d-flex">
                    <td class="col-1 tableTitles">Position</td>
                    <td class="col tableTitles" width="100px">Quantity</td>
                    <td class="col tableTitles" width="100px">AVG price</td>
                    <td class="col tableTitles" width="100px">Price</td>
                    <td class="col tableTitles" width="100px">Commission</td>
                    <td class="col tableTitles" width="100px">Book Value</td>
                    <td class="col tableTitles" width="100px">Market Value</td>
                    <td class="col tableTitles" width="100px">Change</td>
                    <td class="col tableTitles" width="100px">Change%</td>
                    {% if object.user == user %}
                      <td class="col tableTitles" width="100px">Edit</td>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for position in object.position_set.all %}
                    {% if 'USD' in position.currencyCode %}
                      <tr class="d-flex">
                        <th class="col-1">{{ position|upper }}<span style="display:none">{{ position.id }}</span></th>
                          {% if position.transaction_type == 'BUY' %}
                          <td class="col">
                            {{position.shares}}
                          </td>
                          {% else %}
                          <td class="col">
                            -{{position.shares}}
                          {% endif %}
                          </td>
                        <td class="col">
                          {{position.price}}
                        </td>
                        
                          {% for symbol in rtQuotes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% if object.position_set.count == 1 %}
                              <td class="col">
                                {{symbol.close}}
                              </td>
                              {% else %}
                              <td class="col">
                                {{symbol.0.close}}
                              </td>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        
                        <td class="col">
                          {{position.commission}}
                        </td>
                        <td class="col">
                          {{position.book_value}}
                        </td>
                        <td class="col">
                          {% for symbol in rtQuotes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% if object.position_set.count == 1 %}
                                  <span id="mktValueFont">{{rtQuotes.2}}</span>
                                {% else %}
                                  <span id="mktValueFont">{{symbol.2}}</span>
                                {% endif %}
                              {% endif %}
                          {% endfor %}
                        </td>
                        <td class="col">
                          {% for symbol in rtQuotes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% if object.position_set.count == 1 %}
                                {% if rtQuotes.3 < 0 %}
                                  <span class="currPriceChangeDown">{{rtQuotes.3}}</span>
                                {% else %}
                                  <span class="currPriceChange">{{rtQuotes.3}}</span>
                                {% endif %}
                              {% else %}
                                {% if symbol.3 < 0 %}
                                  <span class="currPriceChangeDown">{{symbol.3}}</span>
                                {% else %}
                                  <span class="currPriceChange">{{symbol.3}}</span>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td class="col">
                          {% for symbol in rtQuotes %}
                              {% if forloop.counter == forloop.parentloop.counter %}
                                {% if object.position_set.count == 1 %}
                                  {% if rtQuotes.3 < 0 %}
                                    <span class="currPriceChangeDown">{{rtQuotes.3}}</span>
                                  {% else %}
                                    <span class="currPriceChange">{{rtQuotes.3}}</span>
                                  {% endif %}
                                {% else %}
                                  {% if symbol.4 < 0 %}
                                    <span class="currPriceChangeDown">{{symbol.4}}%</span>
                                  {% else %}
                                    <span class="currPriceChange">{{symbol.4}}%</span>
                                  {% endif %}
                                {% endif %}
                            {% endif %}
                          {% endfor %}
                        </td>
                        {% if object.user == user %}
                          <td class="col">
                            <i class="far fa-edit mr-2"></i>
                            <i class="fas fa-trash-alt"></i>
                            <i class="far fa-save mr-2" style="display:none"></i>
                          </td>
                        {% endif %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table><!-- USD POSITIONS TABLE -->
            </div> <!-- COL -->
          </div> <!-- ROW -->



          
        </div><!-- CAD POSITIONS WRAPPER -->

        <!-- CAD POSITIONS ------------------------------------------------------>
        <div id="cadPositionsWrapper">
          <div class="row">
            <div class="col-12">
              <h6 style="text-align:left;">CAD SECURITIES</h6>
              <table class="table table-hover table-striped table-sm tableDesign table-bordered" width="100%"
                id="cadPositionsTable">
                <thead>
                  <tr class="d-flex">
                    <td class="col-1 tableTitles">Position</td>
                    <td class="col tableTitles" width="100px">Quantity</td>
                    <td class="col tableTitles" width="100px">AVG price</td>
                    <td class="col tableTitles" width="100px">Price</td>
                    <td class="col tableTitles" width="100px">Commission</td>
                    <td class="col tableTitles" width="100px">Book Value</td>
                    <td class="col tableTitles" width="100px">Market Value</td>
                    <td class="col tableTitles" width="100px">Change</td>
                    <td class="col tableTitles" width="100px">Change%</td>
                    {% if object.user == user %}
                      <td class="col tableTitles" width="100px">Edit</td>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for position in object.position_set.all %}
                    {% if 'CAD' in position.currencyCode %}
                      <tr class="d-flex">
                        <th class="col-1">{{ position|upper }}<span style="display:none">{{ position.id }}</span></th>
                          {% if position.transaction_type == 'BUY' %}
                          <td class="col">
                            {{position.shares}}
                          </td>
                          {% else %}
                          <td class="col">
                            -{{position.shares}}
                          {% endif %}
                          </td>
                        <td class="col">
                          {{position.price}}
                        </td>
                          {% for symbol in rtQuotes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% if object.position_set.count == 1 %}
                              <td class="col">
                                {{symbol.close}}
                              </td>
                              {% else %}
                              <td class="col">
                                {{symbol.0.close}}
                              {% endif %}
                              </td>
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td class="col">
                          {{position.commission}}
                        </td>
                        <td class="col">
                          {{position.book_value}}
                        </td>
                        <td class="col">
                          {% for symbol in rtQuotes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% if object.position_set.count == 1 %}
                                  <span id="mktValueFont">{{rtQuotes.2}}</span>
                                {% else %}
                                  <span id="mktValueFont">{{symbol.2}}</span>
                                {% endif %}
                              {% endif %}
                          {% endfor %}
                        </td>
                        <td class="col">
                          {% for symbol in rtQuotes %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                              {% if object.position_set.count == 1 %}
                                {% if rtQuotes.3 < 0 %}
                                  <span class="currPriceChangeDown">{{rtQuotes.3}}</span>
                                {% else %}
                                  <span class="currPriceChange">{{rtQuotes.3}}</span>
                                {% endif %}
                              {% else %}
                                {% if symbol.3 < 0 %}
                                  <span class="currPriceChangeDown">{{symbol.3}}</span>
                                {% else %}
                                  <span class="currPriceChange">{{symbol.3}}</span>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </td>
                        <td class="col">
                          {% for symbol in rtQuotes %}
                              {% if forloop.counter == forloop.parentloop.counter %}
                                {% if object.position_set.count == 1 %}
                                  {% if rtQuotes.3 < 0 %}
                                    <span class="currPriceChangeDown">{{rtQuotes.3}}</span>
                                  {% else %}
                                    <span class="currPriceChange">{{rtQuotes.3}}</span>
                                  {% endif %}
                                {% else %}
                                  {% if symbol.4 < 0 %}
                                    <span class="currPriceChangeDown">{{symbol.4}}%</span>
                                  {% else %}
                                    <span class="currPriceChange">{{symbol.4}}%</span>
                                  {% endif %}
                                {% endif %}
                            {% endif %}
                          {% endfor %}
                        </td>
                        {% if object.user == user %}
                        <td class="col">
                          <i class="far fa-edit mr-2"></i>
                          <i class="fas fa-trash-alt"></i>
                        </td>
                        {% endif %}
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table><!-- CAD POSITIONS TABLE -->
            </div> <!-- COL -->
          </div> <!-- ROW -->
        </div><!-- CAD POSITIONS WRAPPER -->




        



      </div>


    </div> <!-- Positions card -->

  </div> <!-- card  -->

<!-- <style>
  div.addRow {
    line-height: 45px;
    background-color: #fff;
    padding-left: 10px;
    border-bottom: 1px solid;
    border-top: 1px solid #e5e5e5;
  }
</style> -->
 

  <!--  QUICK ADD -->
  <!-- <table id="newRow" style="display:none">
    <tbody>
      <tr>
        <td>
          <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">option 1</option>
            <option value="2">option 2</option>
            <option value="2">option 3</option>
          </select>
        </td>
        <td>DVap
        </td>
        <td>
          www</td>
        <td><i class="fa fa-pencil-square" aria-hidden="true"></i>
          <i class="fa fa-minus-square" aria-hidden="true"></i> </td>
      </tr>
    </tbody>
  </table> -->




</div><!-- container -->


  

  




{% endblock content %}