/* RESEARCH HERO BANNER  ---------------------------------------------------------------------------- */ 
body{
  background-color:#285673;
  padding-right: 0px !important;
}

.jumbotron{
    padding-top:0px;
    /* background-color:#35FF6F; */
    border:2px inset black;
    border-radius:10px;
    background: rgb(66,94,99);
    background: linear-gradient(90deg, rgba(66,94,99,1) 0%, rgba(53,255,111,1) 0%, rgba(74,150,39,1) 99%);
    
  }
  
.companyTitle{
    font-family: 'Impact', sans-serif;
    font-size:44px;
}

.priceSummaryInfo{
  font-size:12px;
  top: -1rem;
}

#currPrice{
  font-family: 'Impact', sans-serif;
  font-size:24px;
}

.currPriceChange{
  font-family: 'Impact', sans-serif;
  font-size:18px;
  color:#00D23E;
}

.currPriceChangeDown{
  font-family: 'Impact', sans-serif;
  font-size:18px;
  color:#FF3E22;
}

#quoteDate{
  font-size:10px;
  text-align: right;   
  top: -1rem;
}


/* this still being used??? */ 
.positionWrapper{
  background-color:#65EDFF;
  border-style: groove;
  margin: auto;
  border-radius: 5px;
  border: 2px solid black;

}

/* TABLES ---------------------------------------------------------------------------- */ 
.tableDesign{
  border:2px inset black;
  border-radius:5px;
  font-family: 'Oswald', sans-serif;
}

.dataTables_scroll{
    overflow:auto;
}

tbody td.col-1{
  text-align: right;
}

td.col-1, th.col-1{
  min-width:150px;
  max-width:150px;
}

tbody th {
  text-align: left;   
}

table{
  font-size:12px;
}
/* test */
.test{
  border-color:blue;
  font-size:12px;
}



.posFormFields{
  font-family: 'Impact', sans-serif;
  font-size: 22px;
}



/* TABLES - PORTFOLIO DETAILS PAGE ---------------------------------------------------------------- */
.tableTitles{
  font-family: 'Oswald', sans-serif;
  font-weight:bold;
  font-size:18px;
  margin: auto;
  padding-left: 0px;
}

#mktValueFont{
  
 font-family: 'Impact', sans-serif;
  font-size:16px;
}

.tableDesign{
  border:2px inset black;
  border-radius:5px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.25;
}


/*  MODALS */
.modal-open {  
    overflow: auto;
}
